@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--main-color: #F88838;
	--white-clr: rgb(248, 244, 244);
	--black-clr: #121212;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Pacifico", serif;
	font-weight: 400;
	font-style: normal;
}

p,
a,
label,
li,
ul {
	font-family: "Roboto", serif;
	font-weight: 400;
	font-style: normal;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	width: 100%;
}

/************************************************** NAVBAR  **********************************************/

.myNav {
	position: fixed;
	padding: 10px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

.myNavOrange {
	background-color: var(--main-color);
}

.burger {
	margin-right: 20px;
	font-size: 20px;
	color: var(--white-clr);
}

.title {
	font-size: 26px;
	color: var(--white-clr);
}

.searchContainer {
	display: none;
}

.nav-link-white {
	color: var(--white-clr);
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

.menu {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
	width: 50%;
	height: 100%;
	background-color: var(--white-clr);
	padding: 15px;
	transition: all 0.5s;
}

.menu h3 {
	margin-left: 10px;
	margin-bottom: 10px;
	color: var(--main-color);
}

.menu li {
	margin-top: 5px;
}

.close-menu {
	position: absolute;
	top: 15px;
	right: 15px;
}

#open-menu:hover,
.close-menu:hover {
	cursor: pointer;
}

/************************************************* HOME ****************************************************/

.hero {
	position: relative;
}

.img-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img-container-header,
.img-container-headerRecipe {
	height: 350px;
}

.hero-title {
	width: 80%;
	margin: auto;
	position: absolute;
	left: 10%;
	top: 15%;
}

.hero h1,
.hero p {

	color: var(--white-clr);
}

.hero h1 {
	font-size: 45px;
	margin-top: 40px;
}

.hero p {
	font-size: 18px;
	padding-bottom: 100px;
}

.learnMore {
	width: 95%;
	margin: 20px auto
}

.comunity,
.recipe,
.createYourRecipe {
	display: flex;
}

.img-container-comunity,
.img-container-recipe,
.img-container-createYourRecipe {
	width: 75%
}

.comunityText,
.createYourRecipeText {
	padding-top: 10px;
	margin-left: 15px;
	width: 70%;
	padding-bottom: 10px;
}

.comunityText h4,
.recipeText h4,
.createYourRecipe h4 {
	font-size: 18px;
}

.comunityText p,
.recipeText p,
.createYourRecipe p {
	font-size: 13px;
	margin-bottom: 5px;
}

.comunityText a,
.recipeText a {
	transition: all 0.5s ease;
	font-weight: bold;
}

.comunityText a:hover,
.recipeText a:hover {
	color: var(--main-color);
}

.recipeText {
	margin-top: 15px;
	margin-right: 15px;
	width: 70%;
	padding-bottom: 10px;
}

.productFilterHome {
	position: relative;
}

.recipeFilterContainer {
	position: absolute;
	top: 10%;
	right: 5%;
	display: flex;
	justify-content: space-around;
}

.recipeFlex {
	display: flex;
	flex-wrap: wrap;
	width: 200px;
	margin: auto;
}

.filterLogo {
	width: 20px;
}

.recipeContainer h6 {
	color: var(--white-clr);
}

.recipeContainer {
	background-color: rgba(255, 255, 255, 0.329);
	padding: 5px 15px;
	border-radius: 8px;
	margin-left: 15px;
	margin-top: 15px;
}

/********************************************************* INSCRIPTION ******************************************/

.registerContainer {
	background-color: rgb(236, 234, 234);
	width: 100%;
	min-height: 70vh;
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;
}

.form,
.addRecipeForm {
	width: 95%;
	margin: auto;
	background-color: white;
	border-radius: 12px;
	padding-bottom: 30px;
}

.form h1,
.addRecipeForm h1 {
	text-align: center;
	padding: 15px;
	font-size: 35px;
}

.form label,
.addRecipeForm label {
	width: 100%;
	padding: 5px 15px;
	font-size: 18px;
	margin-top: 10px;
}

.form input,
.addRecipeForm input,
.addRecipeForm textarea,
.addRecipeForm select {
	width: 95%;
	margin: 0 10px 20px 10px;
	border: none;
	border-bottom: 1px solid var(--black-clr);
	transition: all 0.4s ease;
}

.form input:focus,
.addRecipeForm input:focus {
	outline: none;
	border-bottom: 1px solid var(--main-color);
}

.errorContainer {
	width: 95%;
	margin: auto;
}

.registerLoginContainer {
	width: 45%;
	margin: auto;
	padding: 5px;
}

.registerBtn {
	border: none;
	width: 100%;
	background-color: var(--main-color);
	color: var(--white-clr);
	font-size: 20px;
	padding: 10px;
	border-radius: 8px;
	transition: all 0.3s ease;
}

.registerBtn:hover {
	border: 2px solid var(--main-color);
	color: var(--main-color);
	background-color: var(--white-clr);
}

.registerLoginContainer p {
	margin: 10px 0 10px 45%;
	font-size: 20px;
}

.loginLink {
	border: 2px solid var(--main-color);
	color: var(--main-color);
	font-size: 20px;
	padding: 10px;
	border-radius: 8px;
	transition: all 0.3s ease;
	width: 100%;
	display: block;
	text-align: center;
}

.loginLink:hover {
	border: 2px solid var(--main-color);
	color: var(--white-clr);
	background-color: var(--main-color);
}

/************************************************************* ADD RECIPE **********************************/

#fileToUpload {
	border: none;
}

.addRecipeForm textarea {
	border: 1px solid var(--black-clr);
	padding: 10px;
	font-size: 18px;
}

.addRecipeForm select {
	padding: 10px;
	background-color: var(--main-color);
	color: white;
	border: none;
	border-radius: 8px;
}

.addRecipeForm option:focus {
	background-color: #121212;
}

.imgIngredientContainer {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 5px;
}

.imgRecipe {
	width: 150px;
	margin-top: 10px;
}

#imgIngredient {
	width: 100%;
	height: 70px;
	border-radius: 8px;
}

/******************************************************************** SHOW ALL RECPIES ***************************************/

.flexRecipeContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.allRecipesContainer,
.recipeContainer {
	padding-top: 50px;
	padding-bottom: 50px;
	width: 93%;
	margin: auto;
	display: block;
}

.allRecipesContainer h3 {
	font-size: 35px;
}

.allRecipe {
	margin-top: 45px;
	position: relative;
	max-width: 400px;
}

.imgRecipeContainer {
	width: 100%;
	height: 200px;
	position: relative;
}

.recipeImg {
	height: 100%;
	width: 100%;
}

.recipeTitle {
	margin-top: 15px;
	font-size: 20px;
}

.likeIcon {
	color: var(--main-color);
	background-color: var(--white-clr);
	border-radius: 50%;
	padding: 5px;
	position: absolute;
	top: 5%;
	right: 5%;
	z-index: 2;
}

/****************************************************** RECIPE PAGE *********************************/

.myRecipeTitle {
	color: var(--main-color);
	font-size: 35px;
}

.myRecipeDescription {
	font-size: 20px;
}

.myRecipeNumberComment {
	opacity: 0.7;
}

.myRecipeFlex,
.myRecipeFlexContainer {
	display: flex;
	align-items: center;
}

.myRecipeFlexContainer {
	justify-content: space-between;
}

.myRecipeFlex p {
	margin: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 5px;
	font-size: 20px;
}

.myRecipeIcon {
	color: var(--main-color);
}

.myRecimeImgContainer {
	height: 218px;
	margin-bottom: 40px;
}

.myRecipeImg {
	height: 100%;
	border-radius: 12px;
}

.myRecipeIngredient h3 {
	font-size: 25px;
	margin-bottom: 30px;
}

.myRecipeNumberIngredientContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 250px;
	border: 1px solid var(--black-clr);
	margin-bottom: 30px;
}

.myRecipeNumberIngredientContainer p {
	text-align: center;
	margin: 0 5px;
}

.pContainer {
	flex-grow: 1;
	justify-content: center;
	padding: 6px;
	border-left: 1px solid var(--black-clr);
	border-right: 1px solid var(--black-clr);
}

#plus,
#minus {
	padding: 10px;
	background-color: var(--main-color);
	color: white;
	transition: all 0.5s ease;
}

#plus:hover,
#minus:hover {
	background-color: white;
	color: var(--main-color);
}

.ingredientContainer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.ingredient {
	background-color: #f888386e;
	border-radius: 8px;
}

.ingredientImg {
	height: 100px;
	width: 150px;
	border-radius: 8px;
}

.ingredientImg img {
	height: 100%;
	width: 100%;
}

.ingredient p {
	margin-bottom: 0;
	padding: 5px;
}

/************************************** FOOTER *****************************/
.myFooter {
	background-color: var(--black-clr) !important;
	color: var(--white-clr);
	padding: 25px;
}

.myFooter i {
	margin-left: 15px;
}

.myFooter p {
	margin-top: 5px;
}

@media screen and (min-width: 698px) {

	/************************************************** NAVBAR  **********************************************/

	.searchContainer {
		width: 70%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.searchInput {
		width: 50%;
		margin-right: 15px;
		border-radius: 8px;
		padding: 5px;
		border: none;
	}

	.searchIcon {
		font-size: 20px;
		color: var(--white-clr);
	}

	/************************************************* HOME ****************************************************/

	.hero {
		height: 500px;
	}

	.img-container {
		height: 100%;
	}

	.img-container img {
		height: 100%;
		object-fit: cover;
	}

	.hero-title {
		width: 80%;
		margin: auto;
	}

	.hero h1,
	.hero p {
		padding-left: 100px;
		color: var(--white-clr);
	}

	.hero h1 {
		font-size: 45px;
		margin-top: 40px;
	}

	.hero p {
		font-size: 18px;
		padding-bottom: 100px;
	}

	.recipeFlex {
		width: 400px;
		padding-left: 50px;
	}

	.filterLogo {
		width: 30px;
		margin-bottom: 10px;
	}

	.recipeContainer {
		background-color: rgba(255, 255, 255, 0.329);
		padding: 20px 55px;
	}

	/******************************************************************** SHOW ALL RECPIES ***************************************/

	.flexRecipeContainer {
		flex-direction: row;
		justify-content: space-between;
	}

	.imgRecipeContainer {
		width: 299px;
	}

	/****************************************************** RECIPE PAGE *********************************/

	.myRecipeTitle {
		font-size: 65px;
	}

	.myRecipeDescription {
		font-size: 25px;
	}

	.myRecipeFlexContainer {
		justify-content: left;
	}

	.myRecipeFlex {
		margin-left: 15px;
	}

	.myRecipeFlex p {
		font-size: 25px;
	}


	.myRecipeIcon {
		font-size: 25px;
	}

	.myRecimeImgContainer {
		height: 350px;
	}


	/************************************** FOOTER *****************************/
	.myFooter {
		display: flex;
		justify-content: space-around;
	}

}


@media screen and (min-width: 1200px) {


	/*************************************************** NAVABR ********************************************/

	.menu {
		position: absolute;
		left: 0;
		right: 0;
		top: 60px;
		height: fit-content;
		width: 100%;
		display: flex;
		justify-content: space-around;
	}

	.close-menu {
		position: absolute;
		top: 15px;
		right: 45px;
	}

	.searchContainer {
		width: 40%;
		margin-left: 250px;
	}

	.searchInput {
		width: 80%;
		margin-right: 15px;
		border-radius: 8px;
		padding: 5px;
		border: none;
	}

	.searchIcon {
		font-size: 20px;
		color: var(--white-clr);
	}

	#navbarNav {
		justify-content: end;
		margin-right: 60px;
	}

	/************************************************* HOME ****************************************************/

	.hero {
		height: 600px;
	}

	.hero-title {
		width: 60%;
		margin: auto;
		text-align: center;
	}

	.hero h1,
	.hero p {
		color: var(--white-clr);
	}

	.hero h1 {
		font-size: 85px;
	}

	.hero p {
		font-size: 45px;
		width: 60%;
		margin: auto;
	}

	.learnMore {
		display: flex;
		width: 95%;
		margin: 50px auto;
	}

	.comunity,
	.recipe,
	.createYourRecipe {
		display: block;
		width: 600px;
	}

	.img-container-comunity,
	.img-container-recipe,
	.img-container-createYourRecipe {
		width: 100%;
		height: 281px;
	}

	.comunityText,
	.createYourRecipeText {
		margin-top: 20px;
		padding: 10px;
		height: 270px;
		width: fit-content;
	}

	.comunityText h4,
	.recipeText h4,
	.createYourRecipe h4 {
		font-size: 35px;
		text-decoration: underline;
		text-decoration-color: var(--main-color);
	}

	.comunityText p,
	.recipeText p,
	.createYourRecipe p {
		font-size: 24px;
	}

	.comunityText a,
	.recipeText a {
		transition: all 0.5s ease;
		font-weight: bold;
	}

	.comunityText a:hover,
	.recipeText a:hover {
		color: var(--main-color);
	}

	.recipeText {
		margin-top: 20px;
		margin-left: 20px;
		height: 270px;
		width: fit-content;
	}

	.productFilterHome {
		height: 400px;
	}

	.recipeFilterContainer {
		right: 5%;
	}

	.recipeFlex {
		width: 600px;
	}

	.filterLogo {
		width: 20px;
	}

	.recipeContainer h6 {
		color: var(--white-clr);
	}

	.recipeContainer {
		padding: 50px 95px;
	}

	/********************************************************* INSCRIPTION ******************************************/

	.registerContainer {
		min-height: 80vh;
	}

	.form {
		width: 40%;
	}

	.errorContainer {
		width: 95%;
		margin: auto;
		margin: 5px 10px;
	}

	/************************************************************** ALL RECIPES  ****************************************/

	.img-container-headerRecipe {
		height: 500px;
	}

	.allRecipe {
		width: 600px;
	}


	.imgRecipeContainer {
		width: 100%;
	}

	.imgRecipeContainer img {
		object-fit: cover;
	}

	/****************************************************** RECIPE PAGE *********************************/

	.myRecipeTitle {
		font-size: 65px;
	}

	.myRecipeDescription {
		font-size: 25px;
	}

	.myRecipeFlexContainer {
		justify-content: left;
	}

	.myRecipeFlex {
		margin-left: 15px;
	}

	.myRecipeFlex p {
		font-size: 25px;
	}


	.myRecipeIcon {
		font-size: 25px;
	}

	.myRecimeImgContainer {
		height: 400px;
	}

	.myRecimeImgContainer img {
		object-fit: cover;
	}


	/************************************** FOOTER *****************************/
	.myFooter {
		padding: 45px;
	}

}